/* stylesheet for splash page i.e. login/signup */

.splash-main {
    width: 100%;
    height: 100vh;
}

.main {

    position: fixed;
}

.splash-header {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-signup a {
    text-decoration: none;
}

.splash-header input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.splash-header > h1 {
    color: white;
    font-size: 40px;
    margin-left: 20px;
    padding: 3px;
}

.main {
    display: flex;
    width: 100%;
}

.login-signup {
    margin-right: 30px;
    margin-top: 5px;
}

.login-button {
    margin: 10px;
    
}

nav {
    color: white;
}
.signup-button {
    margin: 10px;
}

#root {
    display: flex;
    height: 100vh;
}

.form-container {
    width: 100%;
    display: flex;
    height: 100vh;
    /* background-image: url('./images/wallhaven-6qmz6w.png'); */
    background-position: center;
    
}

.login-form-container {
    /* justify-self: flex-end; */
    position: relative;
    /* left: 50%;
    top: 50%;
    transform: translateX(-50%); */
    width: 100%;
    height: 100%;
    display: flex;
    background: transparent;
    margin-top: 48px;
    z-index: 100;
    
    /* background-color: blue; */
    
   
}

.img {
    height: 50px;
}

.login-form-box {
    /* justify-self: center;
    align-self: center; */
    display: block;
    position: relative;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);

    text-align: center;

    border: 1px black solid;
    border-radius: 5px;
    padding: 20px;
    height: 300px;
    width: 350px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

    

}

.login-form > label {
    display: flex;
    padding: 20px;
    border: 1px black solid;
    border-radius: 5px;
}

.format-username {
    border: 1px black solid;
    display: flex;
    height: 50px;
    border-radius: 5px;

}

.format-username:focus-within {
    border: 1px blue solid;
}

.format-username:focus-within .username-box {
    color: blue;
    font-size: 15px;
}

.username-box {
    margin-top: 5px;
    margin-left: 5px;
    justify-self: left;
}

.format-password {
    border: 1px black solid;
    display: flex;
    height: 50px;
    border-radius: 5px;
}

.format-password:focus-within {
    border: 1px blue solid;
}

.format-password:focus-within .password-box {
    color: blue;
    font-size: 15px;
}

.password-box {
    margin-top: 5px;
    margin-left: 5px;
    justify-self: left;
}

.login-input {
    margin: 10px;
    border: none;
    background: transparent;
    width: 90%;
}

textarea:focus, input:focus{
    outline: none;
}

input:focus {
    outline:none;
}

.username-box{
    align-content: center;
    background: transparent;
}

.session-submit {
    margin-top: 15px;
    background-color: #128fdc;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.signup-button {
    text-align: center;
    display: inline-block;
    color: black;
    border: 1px white solid;
    background-color: white;
    border-radius: 5px;
    min-width: 80px;
    line-height: 32px;
    box-shadow: gray;
}

.login-button {
    color: white;
}

.splash-header h1 {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.header-name {
    margin-right: 30px;
    color: white;
}

.demo-button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 48px;
}

/* .footer a {
    width: 100%;
    height: 100%;
} */

/* .git-link {
    max-height: 100%;
    width: 48px;
    z-index: 100;
    background-image: url('./images//git_icon.jpg');
    background-position: center;
  
} */


.footer img {
    height: 40px;
    width: 40px;
    margin: 5px;
}


/* SLIDESHOW CSS */


.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
/* .cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
} */

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 84s linear infinite 0s; 
}

.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 84s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}

.cb-slideshow li:nth-child(1) span {
    background-image: url('https://w.wallhaven.cc/full/96/wallhaven-967rgd.jpg');
}

.cb-slideshow li:nth-child(2) span {
    background-image: url('https://w.wallhaven.cc/full/ey/wallhaven-eyvx8l.jpg');
    animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url('https://w.wallhaven.cc/full/ox/wallhaven-ox678m.jpg');
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url('https://w.wallhaven.cc/full/p2/wallhaven-p2zx13.jpg');
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url('https://w.wallhaven.cc/full/g8/wallhaven-g8xzwe.jpg');
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url('https://w.wallhaven.cc/full/6q/wallhaven-6qmz6w.png');
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(7) span {
    background-image: url('https://w.wallhaven.cc/full/w8/wallhaven-w8q27r.jpg');
    animation-delay: 36s;
}
.cb-slideshow li:nth-child(8) span {
    background-image: url('https://w.wallhaven.cc/full/4d/wallhaven-4dvw1m.jpg');
    animation-delay: 42s;
}
.cb-slideshow li:nth-child(9) span {
    background-image: url('https://w.wallhaven.cc/full/5w/wallhaven-5w6319.jpg');
    animation-delay: 48s;
}
.cb-slideshow li:nth-child(10) span {
    background-image: url('https://w.wallhaven.cc/full/ym/wallhaven-ymwggg.jpg');
    animation-delay: 54s;
}
.cb-slideshow li:nth-child(11) span {
    background-image: url('https://w.wallhaven.cc/full/39/wallhaven-39gogv.jpg');
    animation-delay: 60s;
}
.cb-slideshow li:nth-child(12) span {
    background-image: url('https://w.wallhaven.cc/full/p8/wallhaven-p8gj8j.jpg');
    animation-delay: 66s;
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    4% { opacity: 1; animation-timing-function: ease-out; }
    8% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}


.footer div {
    height: 100%;
    width: 100%;
}

.fab.fa-github {
    height: 20px;
    width: 20px;
}